/*Agregando condicionales*/
/*@if ($vista == escritorio) {
    body {
        background-color: gray;
    }

}@else {
    body {
        background-color: cadetblue;
    }
}*/
body {
  background-color: slateblue; }

/*bucles*/
h2 {
  font-size: 2rem;
  color: white;
}

h3 {
  font-size: 2.5rem;
  color: white;
}

h4 {
  font-size: 6rem; }

h5 {
  font-size: 7.5rem; }

h6 {
  font-size: 9rem; }

.white {
  color: white; }

/*Maps*/
.facebook {
  color: black; }

.instagram {
  color: #c85909; }

.twitter {
  color: #e01599; }

/*map-get*/
/*1er valor nombre del mapa, 2do valor el dato*/
.patas {
  background-color: Orange;
  font-size: 28px;
  height: 100px;
  width: 100px; }

/*Extend*/
.seleccion {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: white; }

/*mixin*/
/*Mixin SIN parametros*/
.square {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: right; }

/*Mixin CON parametros*/
.parrafosSinEstilo {
  font-size: 30px;
  text-align: right; }

/*footer*/
.estiloFooter {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white; }

/*Header*/
.header {
  text-align: right;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: white; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/* 1 columna para smartphones */
.breakpoint {
  max-width: 100%;
  display: inline-block; }

/* 2 columnas para tablets */
@media (min-width: 420px) {
  .breakpoint {
    max-width: 48%; } }

/*Anidando selectores*/
.seleccion {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: 5s; }

body {
  background-color: #170550; }
  body .w3-content.w3-display-container {
    text-align: center; }
  body header {
    background-color: #1a0739;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body header h1 {
      animation-name: texto;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      margin: 20px 20px;
      font-weight: none;
      color: white; }
    body header h2 {
      font-weight: bold;
      color: white;
      font-size: 2rem; }
    body header h3 {
      font-weight: bold;
      color: white;
      font-size: 2rem; }
    body header footer {
      color: white; }
    body header nav {
      font-weight: bold;
      text-transform: uppercase; }
      body header nav li {
        display: inline-block; }
        body header nav li a {
          text-decoration: solid;
          /*Variables*/
          color: #e8e5e5;
          /*Operacion matematica*/
          font-size: 1.5rem -1rem;
          margin: 20px 20px;
          /*Ampersand*/ }
          body header nav li a:hover {
            background-color: whitesmoke; }

.divUno {
  background-color: azure;
  transition: height 0.4s;
  width: 0.3s; }

.divUno:hover {
  background-color: black;
  height: 300px;
  width: 220px; }

@media (max-width: 480px) {
  body header {
    display: block; }
    body header nav li {
      display: inline-block;
      width: 49%; } }

footer {
  color: white; }

h3 {
  size: 3rem;
  color: white; }
