/*Extend*/

.seleccion {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: white

}

 .h3 {
     @extend .estilo1;
     font-size: 12px;
 }