@import "variables";
@import "condicionales";
@import "bucles";
@import "maps";
@import"extend";
@import"mixin";
@import"footer";
@import"header";

/*Anidando selectores*/
body{
    background-color: rgb(43, 4, 111);

    header{
        background-color: rgb(43, 4, 111);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            animation-name: texto;
            animation-duration: 5s;
            animation-iteration-count: 5;
            margin: 20px 20px;
            font-weight: bold;
            color: white;
        }

        nav{
            font-weight: bold;
            text-transform: uppercase;

            li{
                display: inline-block;

                a{
                    text-decoration: solid;
                    /*Variables*/
                    color: $color-texto;
                    /*Operacion matematica*/
                    font-size: $font-size -1rem;
                    margin: $margenes;
                    /*Ampersand*/
                    &:hover{
                        background-color: whitesmoke;
                    }
                }
            }
        }
    }
}

