@import "variables";
@import "condicionales";
@import "bucles";
@import "maps";
@import"extend";
@import"mixin";
@import"footer";
@import"header";


@keyframes texto {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
    }
    
/* 1 columna para smartphones */
.breakpoint  {
    max-width: 100%;
    display: inline-block;
    }
    /* 2 columnas para tablets */
    @media (min-width: 420px) {
    .breakpoint  {
    max-width: 48%;
    }
    }
   

/*Anidando selectores*/
.seleccion{
            animation-name: texto;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        


body{
    background-color: rgb(92, 87, 109);
    .w3-content.w3-display-container{ text-align: center; }
    header{
        background-color: rgb(105, 100, 113);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            animation-name: texto;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            margin: 20px 20px;
            font-weight: bold;
            color: white;
        }
        h2{
            font-weight: bold;
            color: white;
            font-size: 20px;
        }

        h3{
            font-weight: bold;
            color: white;
            font-size: 10px;
        }
        nav{
            font-weight: bold;
            text-transform: uppercase;

            li{
                display: inline-block;

                a{
                    text-decoration: solid;
                    /*Variables*/
                    color: $color-texto;
                    /*Operacion matematica*/
                    font-size: $font-size -1rem;
                    margin: $margenes;
                    /*Ampersand*/
                    &:hover{
                        background-color: whitesmoke;
                    }
                }
            }
        }
    }
}

.divUno{
    background-color: azure;
    transition: height 0.4s;width: 0.3s;
}
.divUno:hover{
    background-color: black;
    height: 300px;
    width: 220px;
}


@media (max-width: 480px) {
    body {
        
        header{
            display: block;
        nav{

        li {
        display: inline-block;
        width: 49%;
}
}    
}
}
}